{% extends "acceso/base.html"%}

{% block titulo %}Welcome {% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-3">
        <h1>Welcome {{request.session.usuario.nombre}}</h1>
        <hr>
    </div>
    <div class="col-3 mt-2">
        <a href="{% url 'acceso:logout' %}" class="btn">SALIR</a>
    </div>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>logged in!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock %}